
.main-settings-empleados{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}




.tabla-empleados{
    @include tabla()
}

.container-tabla-empleados{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
