
.modal-errores{

    p{  
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        color: rgb(255, 213, 213);
        background-color: $rojo;

        border-radius: 2rem;
    }

}

.modal-exito{
 
    p{  
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        color: rgb(255, 213, 213);
        background-color: green;

        border-radius: 2rem;
    }
   
}


.modal{
    
    background-color: $blanco;
    border-radius: 2rem;
    z-index: 1;
    position: absolute;
    left: 30%;
    right: 30%;
    top: 40%;
    max-width: 120rem;
    opacity: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: fadeIn 1s forwards;

    .close-button{

        font-size: 3rem;
        margin: 2rem;
        width: 4rem;
        background-color: transparent;
        border: none;
        text-align: center;

        &:hover{
            opacity: .7;
        }

        &:active{
            color: lighten($negro,20);
        }

    }
}
