
.modal-errores{

    p{  
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        color: rgb(255, 213, 213);
        background-color: $rojo;

        border-radius: 2rem;
    }

}

.modal-exito{
 
    p{  
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        color: rgb(255, 213, 213);
        background-color: green;

        border-radius: 2rem;
    }
   
}


.modal{
    
    background-color: $blanco;
    border-radius: 2rem;
    z-index: 1;
    position: fixed;
    inset: 30%;
    opacity: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: fadeIn 1s forwards;

    .close-button{

        font-size: 3rem;
        margin: 2rem;
        width: 4rem;
        background-color: transparent;
        border: none;
        text-align: center;

        &:hover{
            opacity: .7;
        }

        &:active{
            color: lighten($negro,20);
        }

    }
}


.modal-confirmacion{

    inset: 20%;



}

.container-confirm{
    display: flex;
    flex-direction: row;
    gap: 5rem;


    button{
        width: 10rem;
        height: 5rem;
        border: none;
        border-radius: 2rem;
        font-size: 1.7rem;
        display: flex;
        justify-content: center;
        align-items: center;   
        flex-direction: row;
        color: #e1e1e1;
        cursor: pointer;
    }

    .confirm-button{
        background-color:rgb(62, 173, 62) ;
        font-family: Pangram-Black;
        letter-spacing: 2px;
    }
    .deny-button{
        background-color:$rojo ;
        font-family: Pangram-Black;
        letter-spacing: 2px;
    }
}
