//Colores
$negro:#000;

$blanco:#fff;

$fucsia:#c19cfb;

$celeste:#a9eefb;

$morado:#2e1467;

$rojo:#ff0000;


// Tamaño de Media Queries
$telefono: 480px;

$tablet: 768px;

$desktop: 950px;

$separacion:5rem;



// Fuentes

$fuente_principal:Pangram;

$fuente_principal_negrita:Pangram-Black;

$fuente_principal_mediana:Pangram-Medium;

$fuente_principal_bold:Pangram-Medium;

$fuente_secundaria:Helvetica;
